/* GLOBAL ========================================================= */

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'aktiv-grotesk', 'sans-serif';

    scroll-behavior: smooth;
}

:root{
    --primary:#FED60A;
}

body{
    background-color: var(--primary);
    margin:0;
    padding:0;
}

/* TYPOGRAPHY ========================================================= */

h1{
    font-size:clamp(1.9rem, 7vw, 5rem);
    margin:0;
    font-weight: 500;
}

h2{
    font-size:clamp(2rem, 5vw, 3rem);
    font-weight: 500;
}

h3{
    font-size:clamp(1.5rem, 4vw, 2.25rem);
    font-weight: 500;
    margin:0;
}

h4{
    font-size:clamp(1rem, 3vw, 1.5rem);
    font-weight:500;
}

h5{
    font-size:.85rem;
}

p{
    font-size:clamp(.8rem, 2vw, 1rem);
    line-height: 140%;
}

a{
    text-decoration: none;
    color:black;
    font-weight:500;
    font-size:clamp(.8rem, 2vw, 1.5rem);
    padding:1rem 1.5rem;
}

a:hover{
    font-style: italic;
}

.arrow-hover{
    transition: transform 250ms ease-out;
    transform-origin: center;
}

.arrow-hover:hover{
    transform:skewX(-15deg);
}

span{
    transition: all 100ms ease;
    transform-origin: 0;
}

ul{
    padding:0;
    margin:0;
}

li{
    font-size:2rem;
    font-weight:400;

    margin-bottom:1rem;
    
    list-style-type: none;
}

.main-container{
    /* width:clamp(900px, 90%, 1700px); */
    width:90%;
    margin:0 auto;
}

/* HERO SECTION ========================================================= */

.grid-border{
    border:3px solid black;
}

.main-container .hero-grid{
    height:100%;
}

.hero-grid{
    display:grid;

    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: 1fr .7fr auto;

    grid-template-areas: 
    "title title title title title title title title title title nav nav"
    "seeking seeking seeking seeking seeking seeking hello hello hello hello arrow arrow"
    "linkedin linkedin linkedin email email email email resume resume resume arrow arrow";
}

#hero{
    /* height:100vh; */
    padding-top:2rem;
}

.hero-text{
    grid-area:title;
    height:50vh;

    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding:1rem;
}

.hero-text a,
.hero-text span{
    align-self: flex-start;
}

.title h1{
    width:clamp(15ch, 65%, 45ch);
    line-height: 110%;
}

#logo{
    font-size:clamp(1rem, 3vw, 2rem);
    font-weight: 500;

    padding-left:0;
    padding:0;

    cursor:pointer;
}

.main-nav{
    grid-area:nav;
    border-left:0px;

    text-align: right;

    padding:.5rem 0;

    position:relative;
}

header nav{
    display:none;
}

.seeking{
    grid-area:seeking;
    border-top:0px;

    display:flex;
    flex-direction: column;
    padding:1rem;
}

.seeking h4{
    font-weight: 400;
    width: clamp(25ch, 80%, 75ch);
    font-size:clamp(.85rem, 2vw, 1.25rem);
}

.hello{
    grid-area:hello;
    border-left:0px;
    border-top:0px;
    display:flex;
    justify-content:center;
    align-items: center;
    padding:1rem;
}

.hello h2{
    font-size:clamp(5rem, 15vw, 15rem);
    font-weight:500;

    margin:0;
}

.linkedin-button{
    grid-area:linkedin;
    border-top:0px;
    padding:1rem;
}

.email-button{
    grid-area: email;
    border-top:0px;
    border-left:0px;
    padding:1rem;
}

.resume-button{
    grid-area:resume;
    border-top:0px;
    border-left:0px;
    padding:1rem;
}

.linkedin-button a,
.email-button a,
.resume-button a{
    padding:0;
}

.nav-arrow{
    grid-area:arrow;
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
}

.nav-arrow a{
    padding:0;
}

.nav-arrow img{
    width: clamp(.8rem, 10vw, 5rem);
}


/* PROJECTS SECTION ========================================================= */

#projects{
    padding-top:4rem;
}

#projects h2{
    margin-top:0;
    margin-bottom:4rem;
}

.divider-line{
    height:2px;
    background-color: black;
    width:100%;
    margin:.5rem 0 .5rem 0;
}

label{
    font-size:clamp(1.5rem, 7vw, 2.25rem);
    font-weight: 500;
}

.project{
    cursor:pointer;
}

.project-role{
    font-weight:400;
    font-size:clamp(.5rem, 2vw, 1rem);
}

.project-details .project-role{
    margin-left:.5rem;
}

.project-details,
.project-date{
    font-size:clamp(1.25rem, 4vw, 2.25rem);
}

.project-accordion label:hover{
    font-style:italic;
}

.project-accordion{
    margin-top:2rem;
    display:flex;
    justify-content: space-between;
    overflow:hidden;
}

.accordion-wrapper{
    width:100%;
}

.accordion-label{
    display:flex;
    justify-content: space-between;
    cursor:pointer;
    position:relative;
    width:100%;
}

.accordion-content{
    display:none;
}

.accordion-input{
    display:none;
}

 .accordion-input:checked ~ .accordion-content{
     display: block;
}

/* PROJECTS ACCORDION CONTENT SECTION ========================================================= */

.content-grid{
    display:grid;

    grid-template-columns: repeat(3, minmax(0,1fr));
    grid-template-rows: auto;
    grid-gap: 1.5rem;

    grid-template-areas:
    "content img img";
}

.content{
    grid-area:content;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-text p{
    width:clamp(25ch, 95%, 75ch);
}

.content-image{
    grid-area:img;
    width: 100%;
}

.project-nav-button{
    margin-top:2rem;
    display: flex;
    align-items: center;
    align-self: flex-start;
    border:1px solid black;
}

.project-nav-button p{
    margin:0;
}

.project-page-nav{
    transform: rotate(-135deg);
    height:15px;
    margin-left:.5rem;
}


/* CONTACT SECTION ========================================================= */

#contact{
    margin-top:7rem;
    padding-top:2rem;
}

#contact h2{
    /* margin-bottom:5rem; */
    margin-top:0;
}

.contact-grid{
    display:grid;

    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: auto auto 1fr;

    grid-template-areas: 
    "img img img img linkedin linkedin linkedin email email email email email"
    "img img img img about about about about about about about about"
    "img img img img about about about about about about about about";
}

.linkedin-button-contact a,
.email-button-contact a{
    padding:0;
}

.linkedin-button-contact{
    grid-area:linkedin;
    padding:1rem;
}

.email-button-contact{
    grid-area:email;
    border-left:0px;
    padding:1rem;
}

.about-contact{
    grid-area:about;
    border-top:0px;
    padding:1rem;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.about-contact h3{
    font-size:clamp(.85rem, 2vw, 2rem);
    width:clamp(35ch, 85%, 75ch);
    margin-bottom:2rem;
    font-weight: 400;
}

.contact-image{
    grid-area:img;
    border-right:0px;
    padding:0;
    background-color:var(--primary);
}

.contact-image img{
    width:100%;
    height:100%;
    object-fit: cover;
    mix-blend-mode: overlay;
}

.linkedin-arrow{
    grid-area:link-arrow;

    padding:1.5rem;
}

.email-arrow{
    grid-area:email-arrow;
    padding:1.5rem;
}

.cta-arrow{
    transform:rotate(135deg);
}

.border-l-div{
    grid-area:border-l;
    border-left:4px solid black;
}

.border-r-div{
    grid-area:border-r;
    border-right:4px solid black;
}

/* FOOTER ========================================================= */

.main-footer .main-container{
    padding-top:6rem;
    display:grid;

    grid-template-areas:
    "link"
    "info";
}

.footer-info{
    grid-area:info;
    display:flex;
    align-items:baseline;
    justify-content: space-between;

    border-top:.5px solid rgba(0,0,0,0.5);
}

.footer-links{
    padding:1rem 0;
    grid-area:link;
    display:flex;
    justify-content: center;
}

.footer-links a{
    font-size:clamp(.6rem, 2vw, .85rem);
    padding:0;
}

footer h5{
    margin:0;
}

.footer-info p{
    font-size:clamp(.6rem, 1.5vw, .85rem);
}

/* CITATIONS ========================================================= */

.citations h3{
    margin-bottom:.5rem;
    margin-top:4rem;
}

.citations li{
    margin:0;
    padding-left:2rem;
}

.citations a{
    font-weight:400;
}

/* STYLE GUIDE ========================================================= */

#style-guide-page body{
    background-color: white;
}

.colour-wrapper{
    display:grid;
    grid-row-gap:1rem;
    grid-auto-rows: 1fr;
    width:100%;
}

.colour-wrapper p{
    margin:0;
}

.colour h4{
    margin:0;
}

.colour{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding:1rem;
}

.colour .colour-description{
    align-content: center;
    align-items: center;
}

.gold {
    background-color:var(--primary);
    border:1px solid black;
}

.black{
    background-color: #000000;
    color:white;
}

.typography{
    /* grid-area:type; */
}

.typeface a{
    align-self: flex-start;
}

.typeface h4{
    display:inline-block;
    margin:0;
}

#style-guide-page a{
    padding:0;
}

.interactive-elements a{
    font-size:clamp(.8rem, 2vw, 1rem);
    line-height: 140%;
    font-weight: 400;
}