/* HERO SECTION ========================================================= */

.header-nav{
    grid-area: nav;
    display:flex;
    justify-content: space-between;
    padding:1rem 0;

    text-align: right;
}

#project-hero{
    padding-top: 3rem;
}

.project-hero-grid{
    display:grid;

    grid-template-columns: 4fr 1fr;
    /* grid-template-rows: auto auto; */
    grid-template-areas: 
    "nav nav"
    "thumbnail arrow";
}

.project-thumbnail-wrapper{
    grid-area: thumbnail;
}

.project-thumbnail{
    width:100%;
    /* padding-left:1.5rem; */
}

.nav-arrow{
    grid-area: arrow;
}


/* OVERVIEW SECTION ========================================================= */

#projects-page #projects{
    padding-top:8rem;
    margin-bottom:8rem;
}

#projects-page #projects h4{
    margin-top:0rem;
    margin-bottom:1rem;
}

#projects-page #projects a{
    font-weight:400;
    font-size:clamp(.8rem, 2vw, 1rem);
    margin:0rem;
    padding:0;
}

.overview-title{
    display: flex;
    justify-content: space-between;
    margin-bottom:1rem;
}

.overview-grid{
    display:grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    grid-template-areas:
    "overview roles"
    "overview roles"
    "overview team"
    "overview team"
    "overview length"
    "overview length"
    "overview client"
    "type client"
}

.overview-cell{
    grid-area:overview;
    padding: 1rem;
    border-right:0;
    border-bottom:0;
}

.overview-cell p, a{
    display:block;
}

.overview-cell a{
    margin-top:2rem;
}


.roles-cell{
    grid-area:roles;
    padding: 1rem;
    border-bottom:0;
}

.team-cell{
    grid-area:team;
    padding: 1rem;
    border-bottom:0;
}

.project-length-cell{
    grid-area:length;
    padding: 1rem;
    border-bottom:0;
}

.client-cell{
    grid-area:client;
    padding: 1rem;
}

.project-type-cell{
    grid-area:type;
    padding: 1rem;
    border-right:0;

    display:flex;

    align-content: center;
}

#projects-page #projects .project-type-cell h4{
   margin: 0;
}

/* DELIVERABLES SECTION ========================================================= */

#deliverables h3{
    margin-bottom:2rem;
}

#deliverables{
    margin-bottom:8rem;
    text-align: center;
}

.deliverables-grid{
    display:grid;

    grid-template-columns: 1fr 1fr;

    grid-row-gap:3rem;

    grid-template-areas: 
    "heading heading"
    "mockup mockup"
    "deliverable-2 deliverable-3"
    "deliverable-4 deliverable-4";
}

.deliverables-heading{
    grid-area:heading;
}

.mockup-wrapper{
    grid-area:mockup;
}

.mac-wrapper{
    position:relative;
}

.prototype{
    position:absolute;
    width:60%;
    top:5%;
    left:50%;
    transform:translateX(-50%);
}

.mac-mockup{
    mix-blend-mode: multiply;
    width:65%;
}

.deliverable-2{
    grid-area:deliverable-2;
}

.deliverable-2-img{
    /* width:100%; */
    max-height:500px;
}

.deliverable-3{
    grid-area:deliverable-3;
}

.deliverable-3-img{
    /* width:100%; */
    max-height:500px;
}

.deliverable-4{
    grid-area:deliverable-4;
}

.deliverable-4-img{
    /* width:80%; */
    max-height:500px;
}

.iphone-wrapper{
    position: relative;
}

.iphone-mockup{
    width:70%;
    mix-blend-mode: multiply;
}

.mobile-prototype{
    position:absolute;
    width:24%;
    top:10.5%;
    left:50%;
    transform:translateX(-50%);
}

/* DIPPD PROJECT ========================================================= */


/* PROCESS SECTION ========================================================= */

h3{
    margin:0;
}

.accordion-indicator{
    margin-right:1.5rem;
}
/* PROJECT FOOTER ========================================================= */
.project-footer{
    padding-top:5rem;
    padding-bottom:1rem;
}

.project-footer a{
    padding:0;
}

.next-project{
    display: flex;
}

.next-project-text{
    display: flex;
    align-items: baseline;
}

.next-project-text p{
    margin-left:.5rem;
    font-weight: 400;
}

.next-project-arrow{
    width:40px;
    align-self: center;
    transform: rotate(270deg);
    margin-left: 1rem;
}

.next-project .arrow-hover{
    transition: transform 25ms linear;
}

.next-project:hover .arrow-hover{
    transform:rotate(270deg) skewY(10deg);
    /* transform:scaleY(.1); */
}

.project-footer .main-container{
    padding-top:2rem;
}