/* HERO SECTION ========================================================= */

header{
    margin-top:3rem;
    width:100%;
}

header .main-container{
    display:flex;
    justify-content: space-between;
    position:relative;
}

header nav{
    display:block;
}

header ul{
    padding:0;
    margin:0;
}

header li{
    display:flex;
}

header li a{
    padding-top: 0;
    padding-right: 0;
}

#project-hero{
    padding-top: 3rem;
}

.project-hero-grid{
    display:grid;

    grid-template-columns: 4fr 1fr;
    /* grid-template-rows: auto auto; */
    grid-template-areas: 
    "thumbnail arrow";
}

.project-thumbnail-wrapper{
    grid-area: thumbnail;
}

.project-thumbnail{
    width:100%;
    /* padding-left:1.5rem; */
}

.nav-arrow{
    grid-area: arrow;
}

.nav-arrow img{
    width: clamp(.8rem, 10vw, 5rem);
}


/* OVERVIEW SECTION ========================================================= */

#projects-page #projects{
    padding-top:8rem;
    margin-bottom:8rem;
}

#projects-page #projects h4{
    margin-top:0rem;
    margin-bottom:1rem;
}

#projects-page #projects a{
    font-weight:400;
    font-size:clamp(.8rem, 2vw, 1rem);
    margin:0rem;
    padding:0;
}

.overview-title{
    display: flex;
    justify-content: space-between;
    /* margin-bottom:1rem; */
}

.project-details{
    display:flex;
    align-items: baseline;
}

.project-details p{
    margin-left: .5rem !important;
}

.overview-grid{
    display:grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    grid-template-areas:
    "overview roles"
    "overview roles"
    "overview team"
    "overview team"
    "overview length"
    "overview length"
    "overview client"
    "type client"
}

.overview-cell{
    grid-area:overview;
    padding: 1rem;
    border-right:0;
    border-bottom:0;
}

.overview-cell p{
    width:clamp(30ch, 100%, 75ch);
}

.overview-cell p,
.overview-cell a{
    display:block;
}

.overview-cell a{
    margin-top:2rem;
}

.roles-cell{
    grid-area:roles;
    padding: 1rem;
    border-bottom:0;
}

.team-cell{
    grid-area:team;
    padding: 1rem;
    border-bottom:0;
}

.team-cell p,
.team-cell a{
    display:inline-block;
}

.project-length-cell{
    grid-area:length;
    padding: 1rem;
    border-bottom:0;
}

.client-cell{
    grid-area:client;
    padding: 1rem;
}

.project-type-cell{
    grid-area:type;
    padding: 1rem;
    border-right:0;

    display:flex;

    align-content: center;
}

#projects-page #projects .project-type-cell h4{
   margin: 0;
}

/* DELIVERABLES SECTION ========================================================= */

#deliverables h3{
    margin-bottom:2rem;
}

#deliverables{
    margin-bottom:8rem;
    text-align: center;
}

.deliverables-grid{
    display:grid;

    grid-template-columns: 1fr 1fr;

    grid-row-gap:3rem;

    grid-template-areas: 
    "heading heading"
    "mockup mockup"
    "deliverable-2 deliverable-3"
    "deliverable-4 deliverable-4";
}

.deliverables-heading{
    grid-area:heading;
}

.mockup-wrapper{
    grid-area:mockup;
}

.mac-wrapper{
    position:relative;
}

.prototype{
    position:absolute;
    width:60%;
    top:5%;
    left:50%;
    transform:translateX(-50%);
}

.mac-mockup{
    mix-blend-mode: multiply;
    width:65%;
}

.deliverable-2-img,
.deliverable-3-img,
.deliverable-4-img{
    width:100%;
    height:100%;
    object-fit: scale-down;
}

.deliverable-2{
    grid-area:deliverable-2;
}

.deliverable-3{
    grid-area:deliverable-3;
}

.deliverable-4{
    grid-area:deliverable-4;
}

.iphone-wrapper{
    position: relative;
}

.iphone-mockup{
    width:70%;
    mix-blend-mode: multiply;
}

.mobile-prototype{
    position:absolute;
    width:24%;
    top:10.5%;
    left:50%;
    transform:translateX(-50%);
}

/* VENTURA FUTURE PROJECT ========================================================= */

.fade{
    filter:opacity(.2);
}

figure{
    margin:0;
    margin-bottom:1rem;
}

figcaption{
    margin-top:.5rem;
    font-size:clamp(.5rem, 2vw, 1rem);
    line-height: 140%;
    text-align: center;
}

.dan-friedman-grid{
    display:grid;

    grid-template-areas: 
    "info"
    "work";
}

.dan-friedman-info{
    grid-area:info;
}

.dan-friedman-work{
    grid-area:work;
}
.dan-friedman-work img{
    width:100%;
}

.experimentation-grid{
    display:grid;

    grid-template-columns: repeat(3, minmax(0,1fr));

    grid-row-gap:3rem;

    grid-template-areas: 
    "poster poster poster"
    "totebag1 totebag2 totebag3"
    "sketchbook1 sketchbook2 sketchbook3";
}

.posters{
    grid-area:poster;
}

.totebag-1{
    grid-area:totebag1;
}

.totebag-2{
    grid-area:totebag2;
}

.totebag-3{
    grid-area:totebag3;
}

.sketchbook-1{
    grid-area:sketchbook1;
}

.sketchbook-2{
    grid-area:sketchbook2;
}

.sketchbook-3{
    grid-area:sketchbook3;
}

figure img{
    width:100%;
}

.graphic-assets-grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap:3rem;
    
    text-align: center;

    grid-template-areas: 
    "deliverable-4 deliverable-4"
    "deliverable-2 deliverable-3";
}

.interaction-gif-grid{
    display:grid;

    grid-gap:1rem;

    grid-template-columns: 1fr 1fr;
}

.interaction-gif-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.interaction-gif-wrapper p{
    width:clamp(25ch, 95%, 75ch) !important;
}

.ventura-future-interaction-gif{
    width:100%;
}

/* DIPPD PROJECT ========================================================= */

.ux-research-grid,
.art-direction-grid,
.interactions-grid{
    display:grid;

    grid-column-gap:2rem;
    grid-row-gap:1rem;

    grid-template-columns: repeat(2, minmax(0,1fr));
}

.ux-research-grid{
    grid-template-areas:
    "info info"
    "user-goals client-goals";
}

.art-direction-grid{
    display:flex;
    flex-direction: column;

    grid-template-areas:
    "info"
    "moodboard";
}

.interactions-flex{
    display:flex;
    flex-direction: column;

    justify-content: space-between;
    margin-top:1rem;
}

.interactions-grid{
    grid-row-gap:2rem;
}

.ux-research-info,
.art-direction-info{
    grid-area:info;
}

.art-direction-info p,
.interactions-info p{
    width:clamp(25ch, 97%, 75ch) !important;
}

#client-goals,
#user-goals,
#moodboard,
.interactions-grid video{
    width:100%; 
}

#client-goals{
    grid-area:client-goals;
}

#user-goals{
    grid-area:user-goals;
}

#moodboard{
    grid-area:moodboard;
}

.project-gif{
    object-fit: contain;
    width:100%;
}

/* PROCESS SECTION ========================================================= */

#process section{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.highlight{
    font-weight:400;
    background: rgba(255,255,255,.5);
}

#process h3{
    margin:0;
}

.accordion-indicator{
    margin-right:1.5rem;
}

#process p,
#process ul li{
    width: clamp(45ch, 80%, 75ch);
}

#process a{
    font-weight:400;
    font-size:clamp(.8rem, 2vw, 1rem);
    margin:0rem;
    padding:0;
}

#process ul{
    padding-left: 2.5rem;
}

#process ul li{
    font-weight:400;
    font-size:clamp(.8rem, 2vw, 1rem);
    list-style: square;
    font-size:clamp(.8rem, 2vw, 1rem);
    margin:.25rem;
}

#process ul li ol li{
    list-style: none;
}

#process ul li ol{
    /* padding-left: 1.5rem; */
}

ol{
    padding-left: 2.5rem;
    /* padding:0; */
    counter-reset: item;
}

ol li a{
    font-weight:400;
    padding:0;
    font-size:clamp(.8rem, 2vw, 1rem);
}

ol li{
    counter-increment: item;
    /* list-style: upper-roman; */
    font-size:clamp(.8rem, 2vw, 1rem);
    margin:.25rem;
}

ol li:before{
    margin-right:.5rem;
    content: counter(item);
    font-size:clamp(.8rem, 2vw, 1rem);
}

/* PROJECT FOOTER ========================================================= */
.project .main-container{
    grid-template-areas:
    "cta"
    "link"
    "info";  
}

.project-cta{
    grid-area:cta;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    grid-template-areas: 
    "linkedin email next";

    border-bottom:.5px solid rgba(0,0,0,0.5);
}

.project-cta .linkedin-button-contact{
    grid-area:linkedin;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.project-cta .email-button-contact{
    grid-area:email;
    display:flex;
    justify-content: center;
    align-items: center;
}

.project-cta .next-project-button{
    grid-area:next;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.project-cta a{
    padding:0;
}

.next-project{
    display: flex;
}

.next-project-text{
    display: flex;
    align-items: baseline;
    white-space: nowrap;
}

.next-project-text h3{
    font-size:clamp(1rem, 2vw, 2.25rem);
}

.next-project-text p{
    margin:0;
    margin-left:clamp(.1rem, .5vw, .5rem);
    font-weight: 400;
}

.next-project-arrow{
    width:clamp(1rem, 3vw, 2.25rem);
    align-self: center;
    transform: rotate(270deg);
    margin-left: clamp(.2rem, .5vw, 1rem);
}

.next-project .arrow-hover{
    transition: transform 25ms linear;
}

.next-project:hover .arrow-hover{
    transform:rotate(270deg) skewY(10deg);
    /* transform:scaleY(.1); */
}

.project-footer .main-container{
    padding-top:2rem;
}