#style-guide-page{
    padding-top: 3rem;
    background-color: rgba(254,214,10,.5)
}

#style-guide-page nav{
    display:flex;
    justify-content: space-between;
    text-align: right;;

    padding:1.25rem 1rem;
}

.style-guide-grid{
    display:grid;

    grid-template-areas:
    "colours type"
}

.colours{
    grid-area:colours;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.colour-wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.gold{
    display: grid;
    place-items: center;
    width:150px;
    height:150px;
    background-color: #FED60A;
}

.black{
    display: grid;
    place-items: center;
    width:150px;
    height:150px;
    background-color: #000000;
    color:white;
}

.typography{
    grid-area:type;
}

.typeface a{
    align-self: flex-start;
}

#style-guide-page a{
    padding:0;
}